.navbar,.sicky-header{
    background-color: #212121;
    color: white;
    position: sticky;
    top: 0;
    transform: translateY(-60px);
    animation: StickyHeader 0.3s ease forwards;
  }
  
  @keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
  }